<form action="/cart" method="post">
    <button type="submit" class="btn">Add to Cart</button>
    <!-- Passing the ID as hiddne data so we can work on cart fun -->
    <input type="hidden" name="productID" value="<%= product.id %>">
</form>